.header {
    width: 100%;
    height: 64px;
    padding: 12px 16px;
    display: flex;
    align-items: center;

    &__img {
        width: clamp(40px, 40px, 40px);
        height: clamp(40px, 40px, 40px);
        border-radius: 50%;
        overflow: hidden;
        margin-right: auto;

        &>img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__icons {
        background: inherit;
        border: none;
        margin-left: 16px;
    }

    &__dropdown{
        width: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0, 100%);
        z-index: 100;

        &__wrapper{
            position: relative;
        }

        & > button{
            border: none;
            border-bottom: 1px solid #37393C;
            background: #141416;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: white;
            padding: 10px 12px;

            &:last-child{
                border: none;
            }
        }
    }
}

.avatar{
    display: block;
    border-radius: 50%;
    overflow: hidden;

    & > img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
}