.footer {
    max-width: 100%;
    padding: 12px 24px;
    border-top: 1px solid #37393C;
    display: flex;
    position: relative;

    &__btn {
        background: inherit;
        border: none;
    }

    &__input {
        flex-grow: 1;
        max-width: 100% !important;
        height: clamp(40px, 40px, 150px);
        background: #26272D;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 12px;
        margin: 0 10px;
        border: none;
        outline: none;
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}